.hero-section {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1629367494173-c78a56567877?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGFpcnBvZHN8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 16px;
  color: white;
  max-width: 600px;
  width: 90%;
}

.hero-overlay h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-overlay p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 12px 30px;
  font-size: 16px;
  background: white;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #eaeaea;
  transform: scale(1.05);
}